---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import '../stylesheets/style.css';
---

<Layout>
    <div class="container">
        <Header/>
        <div class="about">
            <p>
                <i>Undergraduate Computer Engineering student.</i> Focused on Machine Learning, DevOps and System Software. Intern at <a href="https://troia.eu/">Troia</a>.
            </p>
            <p>
                I primarily work in Python, C/C++ and C#.  
            </p>
        </div>
        <div class="projects">
            <h4>Projects</h4>
            <p>wip</p>
        </div>
        <div class="education">
            <h4>Education</h4>
            <ul>
                <li>University of Maribor - Maribor, Slovenia (2023-Present)
                    <ul>
                        <li>Undergraduate degree in Computer Engineering</li>                    
                    </ul>
                </li>
                <li>
                    Ravne High School - Ravne na Koroškem, Slovenia (2020 - 2023)
                    <ul>
                        <li>
                            High school diploma
                        </li>
                        <li>Golden Graduate</li>
                    </ul>
                </li>
                <li>
                    High School of Chemistry, Electrotechnics and Computer Science - Celje, Slovenia (2019 - 2020)
                </li>
            </ul>
        </div>
        <div class="contact">
            <h4>Contact</h4>
            <ul class="links">
                <li>
                    <a 
                    href="mailto:bWF0aWMuZGV2ZWxvcGVyQHByb3Rvbi5tZQ"
                    onclick="this.href='mailto:'+atob('bWF0aWMuZGV2ZWxvcGVyQHByb3Rvbi5tZQ'); return true;">
                        E-Mail
                    </a>
                </li>
                <li>
                    <a href="https://github.com/mjura1">GitHub</a>
                </li>
            </ul>
        </div>
    </div>
</Layout>

<style>
  .container {
    max-width: 40vw;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    vertical-align: middle;
    text-align: left;
    text-shadow: 0.5rem;
    font-size: 1rem;
  }

  .links > li {
    display: inline-block;
    margin-right: 1rem;
  }
  
</style>
