@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    background-color:black;
    color: white;
    letter-spacing: 0.02rem;
    
}

*::selection {
    color: black;
    background-color: white;
}
a:hover 
{
  color: antiquewhite;
}

