<html>
  <div class="header" style="display:flex">
    <span id="name">Matic Jurač</span>
  </div>
</html>
<style>
#name {
  text-align: center;
  font-size:1.1rem;
}
.header {
  padding: 5rem 0 0 0;
}

</style>