<html>
  <div class="header" style="display:flex">
    <span id="name">Matic (MJURA) Jurač</span>
    <span id="links" style="margin-left:auto"><a href="https://github.com/mjura1">GitHub</a></span>
  </div>
</html>
<style>
#name {
  font-size: 2rem;
  text-align: center;
  letter-spacing:4px;
}
</style>