<html>
  <div class="header" style="display:flex">
    <span id="name">Matic Jurač</span><span id="alias">a.k.a. mjura</span>
  </div>
</html>
<style>
#name {
  font-size: 1.1rem;
  margin-right: 1.5rem;
  line-height: 1;
}

#alias {
  color: grey;
  font-style: italic;
  font-size: 0.9rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.header {
  padding: 5rem 0 0 0;
  display:flex;
  align-items: flex-end;
}

</style>